.hide { display: none; }



body { margin: 0; }
main {
    display: block;
    width: calc( 100% - 20% );
    margin-right: 20%;
    padding: 5px;
    background: #000000;
    box-sizing: border-box;
}



.menu { right: 0; position: fixed; width: 20%; height: 100%; overflow: auto; }
.menu .title {
    padding: 20px 0;
    font-size: 2em;
    text-align: center;
    background: #3f51b5;
    color: #FFFFFF;
}
.menu .cameras, .menu .controller { font-size: 1.5em; text-align: center; }
.menu .cameras { margin-top: 50px; }
.menu .cameras .item, .menu .controller .item { color: #727272; }
.menu .cameras .item:hover, .menu .controller .item:hover { color: #303f9f; cursor: pointer; background: rgba(0,0,0,0.05); }



main .views { display: block; overflow: auto; }
main .views .view-grid {
    position: relative;
    float: left;
    width: 50%;
    border: 5px solid #000000;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
main .views .view-grid .label { position: absolute; margin: 5px 10px; font-size: 1.5em; color: #FFFFFF; text-shadow: 0 0 3px #000000; }
main .views .view-grid .label .important { color: #ff0000; }
main .views .view-grid > * { pointer-events: none; }
main .views .view-grid > canvas { display: block; width: 100%; min-height: 3em; }
main .views .view-grid > .track-small-viewport {
    display: none;
    position: absolute; top: 0; right: 0;
    overflow: hidden;
    width: 200px; height: 100%
}
main .views .view-grid > .track-small-viewport .item { display: inline-block; width: 50px; height: calc(32px + 100px); }
main .views .view-grid > .track-small-viewport .item .title {
    box-sizing: border-box;
    width: 100%; height: 32px;
    color: #ffffff;
    background: #f45c42;
    border: 3px solid #000000;
}
main .views .view-grid > .track-small-viewport .item img { width: 100%; height: 100px; }
main .views .view-grid > .canvas-track-small { display: none; width: 50px; height: 100px; }
main .views .view-grid.view-full { width: 100%; height: 100%; }
main .views .view-grid.view-full > canvas { width: calc( 100% - 200px - 5px ); }
main .views .view-grid.view-full > .track-small-viewport { display: block; }
main .views .view-grid.view-full > canvas.plan { width: 100%; }